{% if rtl is defined and rtl is not empty %}
    <div class="rtl-support">
{% endif %}
<div class="input-group input-group-sm">
	<input class="typeahead form-control" type="text" placeholder="{{ placeholder }}" {% if display_value is defined %}value="{{ display_value }}"{% endif %}>
	<span class="input-group-addon tt-eraser">
		{% if erase_icon is defined %}
		    <i class="{{ erase_icon }}"></i>
		{% else %}
			<span style='font-weight:bold'>X</span>
		{% endif %}
	</span>
	<input type="text" id="{{ id }}" name="{{ id }}" value="{{  id_value is defined ? id_value }}" class='hidden'/>
</div>
{% if rtl is defined and rtl is not empty %}
    </div>
{% endif %}
